<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adpdigital.push.rn">
    <permission
            android:name="${applicationId}.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <application>

        <receiver android:name="PushMessageReceiver">
            <intent-filter>
                <category android:name="com.chabokrnwrapper"/>
                <action android:name="com.adpdigital.push.client.MSGRECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
